/* h1 {
    color: red;
}

header h1 span{
    color: black;
} */
@font-face {
    font-family: 'Ninja Naruto Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Ninja Naruto Regular'), url('ninja-naruto.regular.woff') format('woff');
}
/* @font-face {
    font-family: myfirstFont;
    font-style: normal;
    font-weight: normal;
    src: url('ninja-naruto.regular.woff');
} */

body {
    /* background-color: rgba(0,0,0,0.98); */
    /* background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b7ad7c51-280d-4255-9964-e9ddd1c19f10/d7wl14k-c9e60007-9649-418b-a1bb-4cf537239e80.jpg/v1/fill/w_1280,h_569,q_75,strp/realistic_poster_anime_montage_by_realisticgfx_d7wl14k-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD01NjkiLCJwYXRoIjoiXC9mXC9iN2FkN2M1MS0yODBkLTQyNTUtOTk2NC1lOWRkZDFjMTlmMTBcL2Q3d2wxNGstYzllNjAwMDctOTY0OS00MThiLWExYmItNGNmNTM3MjM5ZTgwLmpwZyIsIndpZHRoIjoiPD0xMjgwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.DnTeWv2QDdvGFj24slwCpby5a5B8Q_doDo51qpRB7ek"); */
    /* background-image: url("https://cutewallpaper.org/21/anime-character-backgrounds/All-Anime-Wallpapers-Top-Free-All-Anime-Backgrounds-.jpg") */
    /* background-image: url("https://wallpaperaccess.com/full/538969.jpg")  */
    background-image: url("https://i.pinimg.com/originals/be/c6/70/bec670614edbd90ac080da68939817f2.jpg") 
}

.span {
    color: "red"
}

.navContainer {
    margin-bottom: 5%;
}

.headerDiv {
    background-color: black;
    border:4px solid white;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5%;
    text-align: center;
    border-radius: 10px;
}
.indexHeader {
    padding-top:5%;
    font-family: 'Bangers', cursive;
    font-size: 100px;
    text-align:center;
    color: red;
    margin-bottom: 10%;
}

.indexHeader span{
    color: white;
}

.animeRecs {
    padding-top:1%;
    font-family: 'Bangers', cursive;
    background-color: black;
    text-align: center;
    border: 4px solid white;
    border-radius: 10px;
    margin-bottom: 5%;
    /* height: 450px; */
    max-width: 500px;
}

.animeName {
    margin-top: 2%;
}


.form {
    font-family: 'Bangers', cursive;
    padding-top:1%;
    margin-bottom: -2%;
    margin-left: 3%;
    margin-right: 3%;
}

.header{
    padding-top:5%;
    font-size: 69px;
    font-family: 'Bangers', cursive;
    text-align: center;
    margin-bottom:4%;
}

.likes {
    color: green
}


.navButton {
    color: red;
}

.navButton2 {
    color: black;
}



.logIn {
    padding-top:2%;
    font-family: 'Bangers', cursive;
    font-size: 60px;
    text-align: center;
    color:red;
    margin-bottom: 5%;
}

.logDiv {
    font-family: 'Bangers', cursive;
    border: 4px solid white;
    background-color: black;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 10px;
}

.recDiv {
    color: red;
    border: 4px solid white;
    background-color: black;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 10px;
    margin-bottom: 5%;
    
}

.newDiv {
    color: red;
    border: 4px solid white;
    background-color: black;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 10px;
    margin-bottom: 15%;
    

}

.showDiv {
    font-family: 'Bangers', cursive;
    text-align:center;
    color: red;
    border: 4px solid white;
    background-color: black;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 10px;
    margin-bottom: 15%;
    

}

.formInput {
    color: white;
}

